<%- include('../partials/header'); %>

<h2>Details</h2>
<div class="container-fluid">
  <img src="<%=pet.image%>" alt="" width="150px">
  <p>Name: <%=pet.name%></p>
  <p>Owner: <%=pet.owner%></p>
  <p>About: <%=pet.description%></p>
  <p>Available from: <%=pet.date%></p>
  <p>Days: <%=pet.days%></p>
  <a type="button" class="btn btn-primary" href="#">Adopt Me</a>
</div>

