<%- include('../partials/header'); %>

<div class="details-container">
  <h2>Details</h2>
  <div class="pet-info">
    <%if(pet.image){%>
      <div class="cardImage" style="background-image: url('<%= pet.image %>')"></div>
    <%}else{%>
      <div class="cardImage" style="background-image: url('https://pawedin.com/system/pets/default_images/default_pet.jpg')"></div> 
  <%}%>
    </div>
    <div class="detailed-details">
      <div class="textDetail">
        <p><span class="detailUnit">Name:</span> <%=pet.name%></p>
        <p><span class="detailUnit">Owner:</span> <%=pet.ownerName%></p>
        <p><span class="detailUnit">Available from:</span> <%=pet.startDay%></p>
        <p><span class="detailUnit">Available until:</span> <%=pet.endDay%></p>
        <p><span class="detailUnit">Bio:</span> <%=pet.description%></p>
      </div>
      <div class="div-btn">
        <%if(pet.isPending === null && pet.ownerName !== currentUser.username){%>
            <form action="/pets/adopt/<%=pet.id%>" method="post">
            <button class="btn btn-primary confirmBtn">Confirm</button>
            </form>
        <% } else if (pet.isPending === true && pet.ownerName !== currentUser.username) {%>
        <button type="button" class="btn btn-warning">Pending</button>
        <%}%>
        <span class="report"><p>Is there something wrong? <a href="#">Report it</a></p></span>
      </div>
    </div>
  </div>

  
</div>

