<%- include('../partials/header'); %>

<h2>Details</h2>
<div class="container-fluid">
  <img src="<%=pet.image%>" alt="" width="150px">
  <p>Name: <%=pet.name%></p>
  <p>Owner: <%=pet.ownerName%></p>
  <p>About: <%=pet.description%></p>
  <p>Available from: <%=pet.startDay%></p>
  <p>Available until: <%=pet.endDay%></p>
  <%if(pet.isPending === null && pet.ownerName !== currentUser.username){%>
        <form action="/pets/adopt/<%=pet.id%>" method="post">
        <button type="submit" class="confirmBtn">Confirm</button>
        </form>
    <% } else if (pet.isPending === true && pet.ownerName !== currentUser.username) {%>
    <button type="button" class="btn btn-warning">Pending</button>
    <%}%>
    
</div>

