
<%- include('../partials/header'); %>

<ul class="reversed">
<% pets.forEach((pet) => { %>
<%if(pet.pending === true || pet.isPending === null){%>
<div class="card">
        <%if(pet.image){%>
            <div class="cardImage" style="background-image: url('<%= pet.image %>')"></div>
            <%}else{%>
            <div class="cardImage" style="background-image: url('https://pawedin.com/system/pets/default_images/default_pet.jpg')"></div> 
            <%}%>
    <div>
        <li class="listli">My name is <a href="/pets/<%=pet._id%>"><%= pet.name %></a></li>
        <li class="listli">From: <a href="/pets/<%=pet._id%>"><%= pet.startDay %></a></li>
        <li class="listli">Till: <a href="/pets/<%=pet._id%>"><%= pet.startDay %></a></li>
    </div>
    <button id="infoBtn" type="button" class="btn btn-secondary" ><a href="/pets/<%=pet._id%>">More info</a></button>
</div>
<% }%>
<% }) %>
</ul>


<button type="button" id="addBtn"><a href="/pets/create"><i class="fas fa-plus"></i></a></button>
