<div class="navbar-pets">
    <ul>
        <li><a href="/pets/create">Add pets</a></li>
        <li><a href="/users">My Profile</a></li>
    </ul>
</div>
<h1><%= title %></h1>

<ul>
<% pets.forEach((pet) => { %>
<%if(pet.pending === true || pet.isPending === null){%>
<div class="card">
    <div><img class="cardImage"src="<%= pet.image %>" alt="fluffy image"></div>
    <div>
        <li class="listli">My name is <a href="/pets/<%=pet._id%>"><%= pet.name %></a></li>
        <li class="listli">Start: <a href="/pets/<%=pet._id%>"><%= pet.startDay %></a></li>
    </div>
    <button id="infoBtn" type="button" class="btn btn-secondary" ><a href="/pets/<%=pet._id%>">More info</a></button>
</div>
<% }%>
<% }) %>
</ul>
