
<%- include('../partials/header'); %>

<ul>
<% pets.forEach((pet) => { %>
<%if(pet.pending === true || pet.isPending === null){%>
<div class="card">
     <div class="cardImage" style="background-image: url('<%= pet.image %>')"></div>
    <div>
        <li class="listli">My name is <a href="/pets/<%=pet._id%>"><%= pet.name %></a></li>
        <li class="listli">From: <a href="/pets/<%=pet._id%>"><%= pet.startDay %></a></li>
        <li class="listli">Till: <a href="/pets/<%=pet._id%>"><%= pet.startDay %></a></li>
    </div>
    <button id="infoBtn" type="button" class="btn btn-secondary" ><a href="/pets/<%=pet._id%>">More info</a></button>
</div>
<% }%>
<% }) %>
</ul>

<div class="addBtn">
    <button type="button" class="btn btn-success" id="addBtn"><a href="/pets/create">Add pet!</a></button>
</div>